html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

// img {
//   max-width: 100%;
// }

li {
  list-style: none;
}

p {
  line-height:1.5;
}

.wrapper {
  max-width: 1040px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-title{
  padding-top: 50px;
  text-align: center;
  h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
  }
  p {
    margin-top: 10px;
    font-size: 1rem;
  }
}

.section-icon {
  width:7%;
}

.content-image {
  width: 50%;
  border: 20px solid #AF4D1C;
  border-radius: 10%;
}

.more-button {
  display: block;
  margin: 100px auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color:#fff;
  background-color:#486609;
  padding: 24px 48px;
  border-radius: 60px;
}