html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

// img {
//   max-width: 100%;
// }

li {
  list-style: none;
}

p {
  line-height:1.5;
}

.wrapper {
  max-width: 1040px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-title{
  padding-top: 50px;
  text-align: center;
  h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
  }
  p {
    margin-top: 10px;
    font-size: 1rem;
  }
}

.section-icon {
  width:100px;
}

.section-content {
  display: flex;
  justify-content: center;
}

.content-image {
  width: 200px;
  border: 20px solid #AF4D1C;
  border-radius: 40px;
}

.more-button {
  display: block;
  margin: 100px auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color:#fff;
  background-color:#486609;
  padding: 24px 48px;
  border-radius: 60px;
}

// それぞれのページのヘッダー下の部分
.page-first {
  height: 300px;
  padding-top:70px;
  background-image: url("../img/renga.jpg");
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center; 
  .page-section-title {
    // padding-top: 200px;
    text-align: center;
    // display: block;
    width: 180px;
    background-color: #fff;
    border-radius: 30px;
    // margin:30px auto;
    h2 {
      font-family: 'Courier New', Courier, monospace;
      font-size: 2rem;
    }
    // img {
    //   width:100px;
    // }
    p {
      margin-top: 10px;
      font-size: 1rem;
    }
  }
}
