.first {
  height: 780px;
  background-image: url("../img/renga.jpg");
  background-size:cover;
  display:flex;
  align-items: center;
    .first-images {
      display: flex;
      justify-content:space-between;
      align-items: center;
      .images-center {
        width: 33%;
      }
      .images-left {
        width: 25%;
      }
      .images-right {
        width: 25%;
      }

    }
}

@media screen and (max-width: 768px) {
  .first{
    
    .first-images {
      display: flex;
      justify-content: center;
      .images-center {
        width: 60%;
      }
      .images-left,.images-right{
        display: none;
      }
    }
  }
}