.works-content {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  column-gap: 100px;
  // align-items: center;
  .works-content-image {
    width:50%;
    height:300px;
    object-fit: cover;
  }
  .works-content-description{
    width:50%;
    h3 {
      background-color: cornflowerblue;
      margin-bottom: 10px;
      font-size: 1.5rem;
      line-height: 1;
    }
    p {
      margin-bottom: 30px;
    }
  }
}
