.works-content {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  column-gap: 100px;
  // align-items: center;
  a {
    display: block;
    width:50%;
  }
  .works-content-image {
    height:300px;
    object-fit: cover;
  }
  .works-content-description{
    width:50%;
    h3 {
      display:inline-block;
      background-color:#8E3E17;
      color:white;
      padding: 2px;
      border-radius: 2px;
      margin-bottom: 10px;
      font-size: 1.5rem;
      line-height: 1;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

// ページネーション
.wp-pagenavi {
  margin: 80px;
	clear: both;
	text-align:center;
  a, span {
    color: #486609;
    background-color: #FFFFFF;
    padding: 8px 15px;
    margin: 0 2px;
    white-space: nowrap;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    border: thin dotted #486609;
  }
  a:hover{
    color: #fff;
    background-color: #486609;
  }
  span.current{
    color: #fff;
    background-color: #486609;
  }
}
