.contact-wrapper {
  max-width: 850px;
  padding: 0 16px;
  margin: 50px auto 100px;
	.cform {
		width: 80%;
		margin: auto;
		border-collapse: unset;
		border-spacing: 10px 60px;
		th {
			font-size: 16px;
			width: 30%; 
			// border-bottom: solid 1px #d6d6d6;
			padding: 10px 0 10px 15px;
			font-weight: normal;
		}
		td {
			font-size: 16px;
			line-height: 150%;
			// border-bottom: solid 1px #d6d6d6;
			padding: 10px 5px;
		}
	}
}


.cform [type=submit] {
	display: inline-block;
	font-size: 20px;
	padding: 10px 30px;
	text-decoration: none;
	background: #ff8f00;
	color: #FFF;
	border-bottom: solid 4px #B17C00;
	border-radius: 3px;
}

.cform option,
.cform textarea,
.cform input[type=text],
.cform input[type=email],
.cform input[type=search],
.cform input[type=url] {
	width: 100%;
  background-color:#f3eae6 ;
}

.required-srt {
	font-size: 8px;
	padding: 5px;
	background: #8E3E17;
	color: #fff;
	border-radius: 5px;
	margin-left: 5%;
	vertical-align: middle;
}

.submit-btn input {
	background: #486609;
	width: 30%;
	max-width: 550px;
	min-width: 220px;
	margin: 30px auto;
	border: 1px #486609 solid;
	border-radius: 10px;
	display: block;
	text-align: center;
	padding: 5px;
	color: #fff;
	transition: all 0.4s ease;
}

.submit-btn input:hover {
	background: #fff;
	color: #00142c;
}

.contact-thanks-content{
	color: #8E3E17;
	font-size: 28px;
	text-align: center;
	margin: 200px auto;
}

@media only screen and (max-width:767px) {
	.cform th,
	.cform td {
		width: 100%;
		display: block;
		border-top: none;
	}
}