.about-illustration{

  .about-image {
    height: 300px;
    display:block;
    margin: 50px auto;
    border-radius: 50%;
    border: 20px solid #AF4D1C;
  }
}

.about-content {
  width: 700px;
  display:block;
  margin: 50px auto;
  p {
    text-align: center;
    line-height: 2rem;
  }
}