.services {
  width: 100%;
  background-color: #fff;
}

.section-content {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  column-gap: 5%;
  text-align: center;
  .content-item {
    max-width: 40%;
    h3 {
      margin-bottom: 50px;
      font-size: 2rem;
      font-weight:bold;
    }
    p {
      margin-top: 50px;
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-content {
    padding-top: 50px;
    display: block;
    .content-item {
      max-width: 90%;
      margin: 50px auto 100px;
      p {
        width: 60%;
        margin: 50px auto;
      }
    }
  }
}