.works {
  height: 900px;
  background-color:#f3eae6;

  .slick-area {
    margin: 100px 0;
    visibility: hidden;
      li {
        margin: 20px;
        img{
          // width:400px;
        max-width: 100%;
        }
        
      }
      // .slick-prev {
      //   left: 10px;
      //   z-index: 1;
      // }
      // .slick-next {
      //   left: 10px;
      //   z-index: 1;
      // }
    }
  
  .slick-initialized {
    visibility: visible;
  }

  }
