.works {
  height: 900px;
  background-color:#f3eae6;

  .slick-area {
    margin: 100px 0;
    visibility: hidden;
      li {
        margin: 20px;
        img{
        max-width: 100%;
        }
        
      }
    }
  
  .slick-initialized {
    visibility: visible;
  }

  }
