@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
}

.wrapper {
  max-width: 1040px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-title {
  padding-top: 50px;
  text-align: center;
}
.section-title h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}
.section-title p {
  margin-top: 10px;
  font-size: 1rem;
}

.section-icon {
  width: 100px;
}

.section-content {
  display: flex;
  justify-content: center;
}

.content-image {
  width: 200px;
  border: 20px solid #AF4D1C;
  border-radius: 40px;
}

.more-button {
  display: block;
  margin: 100px auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: #fff;
  background-color: #486609;
  padding: 24px 48px;
  border-radius: 60px;
  transition: all 1s ease;
}

.more-button:hover {
  transform: scale(1.1, 1.1);
}

.page-first {
  height: 300px;
  padding-top: 70px;
  background-image: url("../img/renga.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-first .page-section-title {
  text-align: center;
  width: 180px;
  background-color: #fff;
  border-radius: 30px;
}
.page-first .page-section-title h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}
.page-first .page-section-title p {
  margin-top: 10px;
  font-size: 1rem;
}

@-webkit-keyframes my-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes my-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.my-animation {
  /* my-animationが「my-fade-in」で状態変化するように指定 */
  -webkit-animation-name: my-fade-in;
          animation-name: my-fade-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.change-time5 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.header {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.header .header-inner .site-title {
  font-size: 2rem;
}
.header .header-inner .nav .nav-menu {
  display: flex;
  justify-content: space-between;
}
.header .header-inner .nav .nav-menu li {
  margin-left: 30px;
}

.first {
  height: 780px;
  background-image: url("../img/renga.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}
.first .first-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first .first-images .images-center {
  width: 33%;
}
.first .first-images .images-left {
  width: 25%;
}
.first .first-images .images-right {
  width: 25%;
}

.services {
  width: 100%;
  height: 1100px;
  background-color: #fff;
}

.section-content {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
  text-align: center;
}
.section-content .content-item {
  max-width: 40%;
}
.section-content .content-item h3 {
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: bold;
}
.section-content .content-item p {
  margin-top: 50px;
  font-size: 1.3rem;
}

.works {
  height: 900px;
  background-color: #f3eae6;
}
.works .slick-area {
  margin: 100px 0;
  visibility: hidden;
}
.works .slick-area li {
  margin: 20px;
}
.works .slick-area li img {
  max-width: 100%;
}
.works .slick-initialized {
  visibility: visible;
}

.about {
  height: 700px;
  background-color: #fff;
}
.about .about-content {
  font-size: 1.3rem;
  margin: 10vh auto;
  text-align: center;
}

.contact {
  height: 600px;
  background-color: #f3eae6;
}
.contact .contact-content {
  font-size: 1.3rem;
  margin: 50px auto;
  text-align: center;
}
.contact .form-button {
  display: block;
  margin: 50px auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: #fff;
  background-color: #8E3E17;
  padding: 24px 48px;
  border-radius: 60px;
  transition: all 1s ease;
}
.contact .form-button:hover {
  transform: scale(1.2, 1.2);
}

.footer-bottom {
  width: 100%;
  height: 200px;
  background-image: url("../img/renga.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom p {
  background-color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  padding: 12px 48px;
  border-radius: 60px;
}

.services-title {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  margin: 100px 0 30px;
}

.skill-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.skill-content .official-icons {
  width: 40%;
  height: 100px;
}
.skill-content .official-icons .official-icon {
  height: 100px;
  margin-right: 20px;
}
.skill-content p {
  width: 33%;
}

.detail-item {
  display: flex;
  justify-content: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
  align-items: center;
  margin-bottom: 30px;
}
.detail-item .detail-item-icon {
  width: 35%;
  text-align: center;
}
.detail-item .detail-item-icon h4 {
  font-size: 1.25rem;
  margin-top: 10px;
}
.detail-item p {
  width: 40%;
  line-height: 2rem;
}

.cording-icon {
  text-align: right;
}

.about-illustration .about-image {
  width: 22%;
  display: block;
  margin: 100px auto 50px;
  border-radius: 50%;
  border: 15px solid #AF4D1C;
}

.about-content {
  width: 50%;
  display: block;
  margin: 100px auto;
}
.about-content p {
  text-align: center;
  line-height: 2rem;
}

.about-question {
  width: 50%;
  display: block;
  margin: 100px auto;
}
.about-question h2 {
  font-size: 2rem;
  text-align: center;
}

/*==================================================
アコーディオンのためのcss
===================================*/
/*アコーディオン全体*/
.accordion-area {
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}
.accordion-area li {
  margin: 10px 0;
}
.accordion-area li .area-detail {
  border: 1px solid #ccc;
  /*アコーディオンタイトル*/
  /*アイコンの＋と×*/
  /*closeというクラスがついたら形状変化*/
  /*アコーディオンで現れるエリア*/
}
.accordion-area li .area-detail .title {
  position: relative; /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all 0.5s ease;
}
.accordion-area li .area-detail .title::before, .accordion-area li .area-detail .title::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #333;
}
.accordion-area li .area-detail .title::before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
}
.accordion-area li .area-detail .title::after {
  top: 48%;
  left: 15px;
  transform: rotate(90deg);
}
.accordion-area li .area-detail .title.close::before {
  transform: rotate(45deg);
}
.accordion-area li .area-detail .title.close::after {
  transform: rotate(-45deg);
}
.accordion-area li .area-detail .box {
  display: none; /*はじめは非表示*/
  background: #f3eae6;
  margin: 0 3% 3% 3%;
  padding: 3%;
}

.contact-wrapper {
  max-width: 850px;
  padding: 0 16px;
  margin: 50px auto 100px;
}
.contact-wrapper .cform {
  width: 80%;
  margin: auto;
  border-collapse: unset;
  border-spacing: 10px 60px;
}
.contact-wrapper .cform th {
  font-size: 16px;
  width: 40%;
  padding: 10px 0 10px 15px;
  font-weight: normal;
}
.contact-wrapper .cform td {
  font-size: 16px;
  line-height: 150%;
  padding: 10px 5px;
}

.cform [type=submit] {
  display: inline-block;
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
  background: #ff8f00;
  color: #FFF;
  border-bottom: solid 4px #B17C00;
  border-radius: 3px;
}

.cform option,
.cform textarea,
.cform input[type=text],
.cform input[type=email],
.cform input[type=search],
.cform input[type=url] {
  width: 100%;
  background-color: #f3eae6;
  padding: 3px;
}

.required-srt {
  font-size: 8px;
  padding: 5px;
  background: #8E3E17;
  color: #fff;
  border-radius: 5px;
  margin-left: 5%;
  vertical-align: middle;
}

.submit-btn input {
  background: #486609;
  width: 25%;
  max-width: 250px;
  min-width: 120px;
  margin: 30px auto;
  border: 1px #486609 solid;
  border-radius: 20px;
  display: block;
  text-align: center;
  padding: 5px;
  color: #fff;
  transition: all 0.4s ease;
}

.submit-btn input:hover {
  background: #fff;
  color: #00142c;
}

.contact-thanks-content {
  color: #8E3E17;
  font-size: 28px;
  text-align: center;
  margin: 200px auto;
}

@media only screen and (max-width: 767px) {
  .cform th,
.cform td {
    width: 100%;
    display: block;
    border-top: none;
  }
}
.works-content {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.works-content a {
  display: block;
  width: 50%;
}
.works-content .works-content-image {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-content .works-content-description {
  width: 50%;
}
.works-content .works-content-description h3 {
  display: inline-block;
  background-color: #8E3E17;
  color: white;
  padding: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  line-height: 1;
}
.works-content .works-content-description p {
  margin-bottom: 30px;
}/*# sourceMappingURL=styles.css.map */